.loaderBalls--overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 92px);

  .loaderBalls {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #00f1ca;

      &:nth-child(1) {
        animation: bouncing 0.4s alternate infinite cubic-bezier(.6, .05, .15, .95);
      }

      &:nth-child(2) {
        animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(.6, .05, .15, .95) backwards;
      }

      &:nth-child(3) {
        animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(.6, .05, .15, .95) backwards;
      }

    }
  }
}


@keyframes bouncing {

  0% {
    transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
  }

  100% {
    transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
  }
}